@media only screen and (max-width: 1025px)
	body























@media only screen and (max-width: 835px)
	//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
	//  common
	//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
	html
		font-size: 119.7%
		font-size: 1.197vw
		// 10(px) / 835(px) * 100 = 1.197
		&.topPage
			font-size: 130%
			font-size: 1.3vw


	@mixin widthL
		width: 95%
		margin: 0 auto
	@mixin widthM
		width: 90%
		margin: 0 auto
	@mixin widthS
		width: 85%
		margin: 0 auto

	.widthL
		@include widthL
	.widthM
		@include widthM
	.widthS
		@include widthS

	.pc
		display: none
	.tablet
		display: block
	.sp
		display: block




	body



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _con-menu
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		@mixin con-menu
			.Section
				background-color: $gray
				@include fontEN
				@include weightB
				width: 100%
				padding: 0

				.Contents
					width: 85.86%
					height: auto
					margin: 0 auto
					padding: 7rem 0 3rem
					display: flex
					justify-content: space-between
					align-items: flex-start
					flex-wrap: wrap

					.ConpanyMenu 
						order: 1
						width: 100%
						display: unset
						text-align: center
						margin: 0
						.Logo 
							display: inline-block
							background-image: url('#{$path}common/Logo.png')
							width: 16.3rem
							aspect-ratio: 379 / 467
						.LinkHolder 
							width: 26rem
							margin: 3.25rem auto 0
							position: unset
							top: auto
							right: auto
							ul 
								@include flexC
								justify-content: space-between
								flex-wrap: wrap
								li
									background-size: 100% 100%
									filter: unset
									a
										width: 100%
										height: 100%
										color: $black
									&.ig
										background-image: url('#{$path}common/snsIG.png')
										height: 2.6rem
										aspect-ratio: 1 / 1
									&.x
										background-image: url('#{$path}common/snsX.png')
										height: 2.6rem
										aspect-ratio: 1 / 1
									&.fb
										background-image: url('#{$path}common/snsFB.png')
										height: 2.6rem
										aspect-ratio: 21 / 40
									&.note
										background-image: url('#{$path}common/snsNoteWide.png')
										height: 4rem
										aspect-ratio: 218 / 83
										margin: 0 -1rem 0 -1rem
									&.online
										width: 100%
										aspect-ratio: 489 / 126
										border: 1px solid $black
										font-size: 2.15rem
										margin: 1.6rem 0 0
										letter-spacing: .08em
										@include flexC
										@include textUpper
										a
											@include flexC
											padding: 0 0 .25rem
											transition: .5s
										&:hover
											a
												letter-spacing: .05em

						.BtoB
							display: flex
							width: 26rem
							margin: 2rem auto 0
							aspect-ratio: 489 / 194
							border: 1px solid $black
							text-align: center
							@include flexC
							flex-wrap: wrap
							align-content: center
							span
								color: $black
								display: inline-block
								width: 100%
								&:nth-child(1)
									font-size: 5rem
									line-height: 5rem
									margin: -1rem 0 0
								&:nth-child(2)
									font-size: 1.3rem
									letter-spacing: 0
									margin: 1rem 0 0


						.cw
							width: 100%
							font-size: 1.3rem
							margin: 3.75rem 0 0

					.MainMenu
						order: 2
						width: 100%
						margin: 3.25rem 0 0
						h2
							font-size: 4rem
							display: none
						ul
							line-height: 3.25rem
							display: flex
							flex-wrap: wrap
							flex-direction: column
							column-count: 3
							margin: 4rem 0 0
							// padding: 0 0 13.75rem
							// gap: calc((50% - 47.27%) * 2)
							height: 10rem
							font-size: 2.4rem
							position: relative
							width: 100%
							li
								// border-bottom: 1px solid $black
								transition: .5s
								margin: 0 !important
								width: 33.333%
								font-size: 2.4rem
								line-height: 3.3rem
								text-align: center
								&.clickNone
									opacity: .2
								a
									color: $black
									width: 100%
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3),
								&:nth-child(4)
									margin: 0 4.51% 1.5rem 0
								&:nth-child(5),
								&:nth-child(6),
								&:nth-child(7),
								&:nth-child(8)
									margin: 0 0 1.5rem 0
								&.BtoB
									aspect-ratio: 243 / 329
									background-color: $black
									width: 55.56%
									height: 9.75rem
									position: absolute
									bottom: 0
									left: 0
									right: 0
									margin: auto !important
									a
										color: $white
										@include flexC
										align-content: center
										height: 100%
										flex-wrap: wrap
										span
											display: inline-block
											width: 100%
											text-align: center
											transition: .5s
											&:nth-child(1)
												font-size: 3.15rem
												@include weightR
												line-height: 2rem
											&:nth-child(2)
												font-size: 1.6rem
												@include fontJP
												@include weightL
												letter-spacing: .225em
												margin: 1.2rem 0 0
												line-height: 2rem
											&.arrow 
												display: none
								&:hover
									@include hover
									padding: 0 0 0 1rem
									&.BtoB
										padding: 0
										a span:nth-child(1)
											letter-spacing: .05em

					.cw
						// display: block
						order: 4
						width: 100%
						font-size: 1.3rem
						margin: 3.75rem 0 0
						text-align: center

					.online
						order: 3
						width: 26rem
						aspect-ratio: 412 / 185
						margin: 2rem auto 0
						position: unset
						background-color: $black
						color: $white
						.icon
							filter: brightness(0) invert(1)
						span
							font-size: 2.5rem
							line-height: 3rem

					.BtoB
						display: none

				.Foot 
					width: 100%
					background-color: $black
					aspect-ratio: 1000 / 103
					@include flexC
					p 
						color: $white
						text-align: center
						@include fontJP
						@include weightR
						font-size: 1.15rem
						letter-spacing: .12em
						span
							@include weightB



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _Header
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		#Header
			padding: 1.8rem 0
			height: 12rem
			background-color: $gray
			.Contents
				.copy
					display: none
				.Logo
					background-image: url('#{$path}common/LogoWide.png')
					height: auto
					width: 12.1rem
					aspect-ratio: 433 / 311
					mix-blend-mode: multiply
				.sec
					display: none
					// position: fixed
					// top: 17rem
					// right: 0
					// left: 0
					// margin: auto
					// width: 12rem
					// display: flex
					// flex-wrap: wrap
					// justify-content: center
					// .num
					// 	font-size: calc(12rem / 1.5)
					// 	line-height: calc(8.75rem / 1.5)
					// 	width: calc(9.5rem / 1.5)
					// 	height: calc(8.75rem / 1.5)
					// .name
					// 	width: 12rem
					// 	font-size: 1.5rem
					// 	.change
					// 		width: calc(12rem * 5)
					// 		span
					// 			text-align: center
					// 			width: 12rem
					// @for $i from 1 through 5
					// 	&.sec0#{$i}
					// 		.num .change
					// 			transform: translateY(-8.75rem / 1.5 * ($i - 1))
					// 		.name .change
					// 			transform: translateX(-12rem * ($i - 1))



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _Menu
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		#Menu
			width: 100%
			@include con-menu
			.Section
				.Contents
					padding: 7rem 0 9rem
				.Foot
					position: absolute
					bottom: 0


		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _nav
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		nav#sideMenu
			.Contents

				.LeftBlock
					width: 6.5rem
					height: 15rem
					top: 0rem
					left: 2.5rem
					bottom: auto
					.LinkHolder
						.online
							width: 100%
							height: 100%
							background-color: $black
							@include flexC
							flex-wrap: wrap
							align-content: center
							position: relative
							.icon
								width: 3.8rem
								margin: 0 .5rem .75rem 0
								filter: brightness(0) invert(1)
							span
								font-size: 1.4rem
								line-height: 1.8rem
								text-decoration: unset
								text-align: center
								color: $white
							&::after
								content: ''
								width: 100%
								height: calc(100% + .7rem)
								position: absolute
								z-index: -1
								background-image: url('#{$path}common/menuOnlineBG.png')
								background-size: 100% 100%
								top: 0
								left: .7rem
						ul
							display: none

				.RightBlock
					width: 4rem
					height: 6.75rem
					background: unset
					top: 2.5rem
					right: 2.5rem
					bottom: auto
					.menuOpen
						.icon
							width: 100%
							-webkit-filter: brightness(0)
							filter: brightness(0)
						span
							font-size: 1.4rem
							color: $black

				.BottomBlock
					position: absolute
					bottom: 0
					right: 0
					left: 0
					margin: auto
					width: 100%
					height: 8rem
					@include flexC
					display: flex !important
					gap: 1px
					pointer-events: auto
					li
						width: calc((100% - 3px) / 4)
						height: 100%
						background-color: $black
						@include flexC
						position: relative
						&::before
							content: ''
							background-size: 100% 100%
							position: absolute
							top: 1.25rem
							right: 0
							left: 0
							margin: auto
						span
							@include fontEN
							@include weightB
							@include textUpper
							color: $white
							font-size: 1.25rem
							padding: 3.5rem 0 0
						&.OurBeer
							&::before
								background-image: url('#{$path}common/iconOurBeer.png')
								height: 3.1rem
								aspect-ratio: 46 / 63
						&.OurConcept
							&::before
								background-image: url('#{$path}common/iconOurConcept.png')
								height: 2.9rem
								aspect-ratio: 44 / 59
						&.Instagram
							&::before
								background-image: url('#{$path}common/iconInstagram.png')
								height: 2.7rem
								aspect-ratio: 56 / 55
						&.ShopAccess
							&::before
								background-image: url('#{$path}common/iconShopAccess.png')
								height: 2.65rem
								aspect-ratio: 68 / 55

				.reserveBlock
					bottom: auto
					top: 1.75rem
					right: 9rem

			&.KV
				.Contents
					// .LeftBlock
					// 	.LinkHolder
					// 		.online
					// 			.icon
					// 				-webkit-filter: brightness(0) invert(1)
					// 				filter: brightness(0) invert(1)
					// 			span
					// 				color: $white
					.RightBlock
						.menuOpen
							.icon
								-webkit-filter: brightness(0) invert(1)
								filter: brightness(0) invert(1)
							span
								color: $white



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  topPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#topPage


			section
				.sec
					position: absolute
					top: 8.5rem
					right: 0
					left: 0
					margin: auto
					width: 11rem
					display: flex !important
					@include flexC
					flex-wrap: wrap
					.num
						@include fontBebas
						font-size: 12rem
						line-height: 8.75rem
						width: 9.5rem
						height: 8.75rem
						overflow: hidden
						.change
							width: 4.75rem
							@include flexC
							flex-wrap: wrap
							transition: .75s
						&.active
							.change
								transform: translateY(-8.8rem)
					.name
						@include fontEN
						@include weightB
						font-size: 1.5rem
						text-align: center
						margin: 1rem 0 0
						.change
							transition: .75s
							span
								display: inline-block
								@include textUpper

				.Footer 
					display: none


	
			section#KV
				.Section
					padding: 0
					.Contents
						.Logo
							background-image: url('#{$path}common/LogoW.png')
							width: calc(58.9% / 1.5)
						.ttlHolder,
						.txtHolder
							display: none
						.movieHolder
							width: 100%
							height: 100%
							.movieBlock
								&:nth-child(3)
									width: 100%
									height: 100%
									top: 0
									left: 0
									z-index: -1
									img
										width: auto
										height: 100%
									.ttl
										display: none
								&:nth-child(1),
								&:nth-child(2)
									display: none



			section#ConceptMovie
				.Section
					padding: 27rem 0 6.5rem
					height: auto
					.Contents
						@include widthM
						height: auto
						aspect-ratio: 1 / 1
						position: relative
						overflow: unset
						.sec
							top: -14rem
							color: $black
						.Holder
							@include flexC
							flex-wrap: wrap
							.ttlEN
								text-align: center
							.Header
								text-align: center
								font-size: 2rem
						.btn
							width: 10rem
							top: auto
							bottom: 1rem
							right: 1rem
						.bg img
							width: auto
							height: 100%
							bottom: 0
							right: -22%



			section#MainContents
				.Section
					padding: 22.5rem 0 6.5rem
					.Contents
						.inBlock
							width: 100% !important
							order: 2
						.Block
							width: 100% !important
							aspect-ratio: 880 / 506 !important
							@include flexC
							text-align: center
							.Header
								.ttl
									font-size: 3.5rem !important
								.sub
									font-size: 1rem
							&.Block02
								order: 1
							&.Block03
								align-items: center
								h3
									line-height: 2.5rem
									@include flexC
									gap: 1rem
									margin: 0 0 1rem -0.35rem
									span
										width: auto
								.ttl
									font-size: 1.4rem
								.sub
									margin: 1.95rem 0 0
							.text
								display: none
							&::after
								transform: translateX(0)
								opacity: 1
						.ECbanner
							aspect-ratio: 880 / 207
							margin: 4rem auto 2rem



			section#Instagram
				.Section
					padding: 22.5rem 0 6.5rem
					.Contents
						.Holder
							.Block
								width: calc((100% - 1rem * 2) / 3)
								&:nth-child(n + 10)
									display: none
						.ig
							padding: 0 0 9rem 1rem
							font-size: 5.4rem
							width: 27rem
							&::before
								top: auto
								bottom: 2rem
								width: 4.4rem
							&::after
								content: 'Touch!'
								position: absolute
								bottom: 0
								right: 0
								left: 0
								margin: auto
								font-size: 1.5rem
								text-align: center



			section#News
				.Section
					padding: 22.5rem 0 6.5rem
					.Contents .Holder
						.Block
							align-items: flex-start
							padding: 0 0 1.5rem
							margin: 0 0 2rem
							span
								&.date
									width: 9.5rem
								&.ttl
									line-height: 2rem
									margin: -.5rem 0 0
					.Footer
						display: flex
						position: unset
						margin: 5rem auto 0
						li
							width: 7.75rem
							a
								font-size: 1.4rem
								&::after
									width: 3.5rem
							&:nth-child(2)
								display: none



			section#ShopAccess
				.Section
					padding: 22.5rem 0
					.Contents
						gap: 5rem calc((100% - 47.19% * 2) / 1)
						.Holder
							flex-wrap: wrap
							width: 47.19%
							.textArea
								// order: 2
								width: 100% !important
								margin: 3rem 0 0
								.online
									width: 100%
									flex-wrap: wrap
									justify-content: center
									margin: 3rem auto 6rem
									// .Logo
									// 	background-image: url('#{$path}common/Logo.png')
									// 	width: 61.18%
									// 	aspect-ratio: 379 / 464
									// 	margin: 0 0 0 -1.25rem
									// .arrow
									// 	width: 100%
									// 	font-size: 2.9rem
									// 	margin: 3rem 0 2.25rem
									// 	padding: 0 0 0 5.75rem
								.cat
									justify-content: center
									aspect-ratio: 880 / 62
								.details
									.Logo
										width: 28%
										position: absolute
									.inBlock
										width: 100%
										.name
											padding: 0 0 2rem 33.18%
											margin: 0 0 2rem
											min-height: 13rem
											span
												&:nth-child(1)
													// font-size: calc(1.5rem * 1.25)
												&:nth-child(2)
													font-size: calc(2.65rem * 1.25)
													margin: .75rem 0 0
										.address
											font-size: calc(1.15rem * 1.25)
											margin: 0 0 1.5rem
										.tel
											font-size: 1.6rem
										.open 
											font-size: 1.6rem
											margin: .5rem 0 0
											padding: 0 0 0 4.5rem
											li
												&::before
													width: 6.5rem !important
										.gm
											font-size: calc(1.25rem * 1.25)
											margin: 4.25rem 0 0

							.imgArea
								// order: 1
								width: 100% !important
								height: auto !important
								aspect-ratio: 880 / 545 !important

							&.Harebare
								.textArea
									order: 1
									.details
										.Logo
											width: 32.23%
											position: unset
										.inBlock
											width: 60%
											.name
												padding: 0 0 2rem
												min-height: auto
								.imgArea
									order: 3
									margin: 5rem auto 0
								.gmArea
									order: 2

						.shopList
							aspect-ratio: 880 / 141



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  LowPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&.LowPage
			section#Link .Section .Contents .Block
				padding: 4.5rem 4.9rem
				h3
					font-size: 6rem
			#Footer
				margin: 15rem 0 0



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  LowTemplate
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&.LowTemplate
			
			section#KV
				.Section
					margin: 18.5rem auto 0
					.Header h1.pageTitle
						font-size: 14rem



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  aboutusPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#aboutusPage


			#popup
				padding: 5rem
				top: 19rem
				.Section
					.icon
						display: none
					.Btn
						top: -3rem
						right: -3rem
					.Header
						padding: 0 0 4.5rem
					.Contents
						justify-content: space-between
						.textArea
							width: 60%
						img
							width: 35%

			section#KV
				.Section .Header
					margin: 22.15rem auto 6.85rem


			section#Concept
				.Section
					margin: 11.75rem auto 15rem
					.Contents
						.Block
							p
								&.JP
									font-size: 1.4rem
									line-height: 2.8rem
								&.EN
									font-size: 1.5rem
									line-height: 3.15rem
						&__00001
							margin: 0 0 9.5rem
							.Header
								margin: 0 0 5.5rem -.8rem
								.row
									font-size: 9.5rem
						&__00002
							.Header
								img
									top: 17.5rem


			section#Vision
				.Section
					.Header
						margin: 0 0 6.5rem
					.Contents
						.Block
							p
								&.JP
									font-size: 1.4rem
									line-height: 2.8rem
								&.EN
									font-size: 1.5rem
									line-height: 3.15rem
					.popupContents
						flex-wrap: wrap
						h3
							width: 50%
							margin: 0 auto
						.Block
							width: 80%
							margin: 3rem auto 0


			section#Company
				.Section
					margin: 15rem auto 0
					padding: 0 0 15rem


			section#Contact
				.Section
					margin: 15rem auto 0
					.Contents
						margin: 6.5rem auto 0
						.Block
							width: 100%
							margin: 0 0 5rem



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  restaurantPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#restaurantPage
			@mixin shopDetails
				.shopDetails
					position: relative
					.Contents
						width: 74.5%
						margin: 0 0 0 auto
						.details
							.Floor
								width: 15rem
					.reserve
						position: absolute
						bottom: -.5rem
						left: 1.25rem
						width: 18.01%
					.LinkHolder
						width: 74.5%
						margin: 4rem 0 0 auto
						aspect-ratio: 2154 / 204


			section#About
				.Section
					.Contents
						.Holder
							p
								font-size: 1.4rem
								line-height: 2.8rem
						&__00001
							.Logo
								width: 20rem
								height: 20rem
								img
									width: 15rem
							.Header
								.JP
									font-size: 3.4rem
						&__00002
							.Holder
								margin: 0
							.imgHolder
								img
									width: calc(40% - 2.5rem)
									top: auto
									bottom: calc(2.5rem * 2)
						&__00003
							.Header
								margin: 0
							.Holder
								margin: 0
								p
									width: 100%
									&.EN
										margin: 3rem auto 0
						&__00004
							.icon
								width: 12.85rem
								right: 3rem
								top: 12.25rem
						&__00005
							.Header
								width: calc((100% - 5rem) / 2 + 20%)
								.JP
									.row
										font-size: 5.8rem
										line-height: 6.5rem
							.Holder
								width: 100%
								margin: 1rem auto 0
							.imgHolder
								img
									width: calc(37% - 2.5rem)


			section#Goods
				.Section
					margin: 15rem auto 0
					.online
						top: -6.5rem
					.Header
						margin: 0 0 5rem
						h2
						.row
							font-size: 4.5rem
							.Split
								@for $i from 1 through 7
									&:nth-child(#{$i})
										font-size: 9rem
								&:nth-child(7)
									display: block
									height: 0
									padding: 0


			section#Shop
				@include shopDetails


			section#Details
				.Section
					.detailsContents
						width: 90%
						@include shopDetails
						.shopDetails
							width: 95%
						.gm
							width: 95%
							p
								width: 80%



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  ourbeerPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#ourbeerPage
			section#About
				.Section
					.Contents
						width: 100%
						&__00001
							border-right: 2.5px solid $black
							border-bottom: none
							padding: 2.5rem 2.5rem 2.5rem 12.99%
						&__00002
							.imgHolder
								@include flexC
								img
									width: calc((100%) / 2)

			section.ourbeerSec
				margin: 15rem 0 0
				.Section .Header
					margin: 0 0 6rem
				&#Partners
					.Section
						.Contents
							.Block
								p
									&.JP
										font-size: 1.4rem
										line-height: 2.8rem
									&.EN
										font-size: 1.5rem
										line-height: 3.15rem
						.imgHolder
							margin: 10rem 0 0
							gap: 3.35rem 2rem
							align-items: flex-start
							.Block
								width: calc((100% - 2rem * 2) / 3)
				&#Projects
					.Section
						.Header
							h2
								.row
									.Split
										&:nth-child(10)
											height: 0
											padding: 0
											display: block
						.Contents
							.Block
								.point
									right: 2rem
								.Header
									width: 100%
									.Logo
										width: 60%
										position: unset
										margin: 0 0 3.5rem
									p.nore
										margin: 1.8rem 0 0
								img
									position: absolute
									top: 6rem
									right: 6rem
									width: 30%
								.ViewBtn
									margin: 4.6rem auto 0
								.detailsContents
									img
										position: unset

								&__00001
									.detailsContents
										.imgHolder
											flex-wrap: wrap
											img
												width: calc((100% - .25rem) / 2)
										.Inner
											.textArea
												width: 100%
											.imgArea
												width: 100%
												margin: 7rem auto 0
											.btnArea
												width: 100%
												margin: 5rem auto 3rem
								
								&__00002
									.point
										color: $white
									img
										width: 20%
									.detailsContents
										.Inner
											.num
												position: absolute
												width: 10%
												span
													font-size: 1.25rem
													transform: translateY(.5rem)
													&:nth-child(2)
														font-size: 4rem
														transform: translateY(-.4rem)
											.details
												width: 65%
												margin: 0 auto 0 0
												.Logo
													margin: 0 0 0 22%
												.Name
													margin: 1.5rem 0 0 22%
												p
													margin: 3rem 0 2rem
										.projectInner
											.textArea
												.Header
													width: 100%
													.Logo
														width: 10rem
														height: 10rem
													.title
														h3
															font-size: 3.7rem
															line-height: 3.2rem
													p
														margin: 3rem 0 0
														width: 100%
												img
													display: none
											.makerList .makerSlider .swiper-wrapper .swiper-slide
												width: 18rem
												padding: 0 2.3rem 2rem
												h4
													height: calc(1.8rem * 3)



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  breweryPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#breweryPage
			section#About
				.Section
					.Contents
						&__00001
							.Header
								h3
									font-size: 7rem
						&__00003
							.imgHolder
								img
									width: calc(31% - 2.5rem)
						&__00004
							.Header
								transform: translate(0)
								.JP
									.row
										&:nth-child(1)
											.Split
												&:nth-child(3)
													transform: translate(0)
							.Holder
								width: 58%
								margin: -14.75rem 0 -0.7rem auto
							.imgHolder
								img
									&:nth-child(2)
										width: calc(39.63% - 2.5rem)
						&__00005
							.Header
								width: 86%
								margin: 0 auto
							.imgHolder
								img
									width: 40%
									top: 26.5rem
						&__00006,
						&__00007
							width: 100%
							display: flex
							flex-wrap: wrap
							.imgHolder
								width: 38%
							.Header
								width: 62%
							.Holder
								width: 100%
						&__00006
							border-right: 2.5px solid $black
							border-bottom: none

			section#Beer
				.Section
					padding: 5rem 0 7rem
					.Header
						h2
							font-size: 6.7rem
					.Contents
						margin: 7rem auto 0
						.Holder
							width: 100%
							padding: 7rem 5rem
							h3
								margin: 0 0 4rem
						.imgHolder
							img
								width: 40%
								right: -2rem
						.contactBtn
							width: 20rem
							bottom: 2rem
							right: 2rem

			section#Brand
				.Section
					.Header
						.Logo
							width: 11%
						.textArea
							width: 85%
							.snsHolder ul
								margin: 0.4rem auto 0
					.Contents
						margin: 7rem auto 0
						p
							width: 100%
						.imgHolder
							display: none
						.brandSlider
							margin: 5rem auto 0

			section#Brewer
				.Section
					.point
						right: 3rem
						top: 4rem
					.Header
						width: 69.36%
						.row
							font-size: 12.5rem
					.Contents
						width: 69.36%
							



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _Footer
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		footer#Footer
			@include con-menu
	









	


@media only screen and (max-width: 480px)
	//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
	//  common
	//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
	html
		font-size: 190%
		font-size: 1.9vw
		// // 10(px) / 375(px) * 100 = 2.666
		&.topPage
			font-size: 200%
			font-size: 2vw
			// 10(px) / 500(px) * 100 = 2

	.pc
		display: none
	.tablet
		display: none
	.sp
		display: block !important




	body



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _con-menu
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		@mixin con-menu
			.Section
				.Contents
					width: 100%
					.MainMenu
						margin: 0
						ul
							height: auto
							text-align: center
							justify-content: center
							li
								width: 100%



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _Menu
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		#Menu
			height: 100%
			width: 100%
			background-color: $gray
			transform: translateX(100%)
			.menuClose
				span
					font-size: 1.4rem
			@include con-menu
			.Section
				min-height: 100%
				height: auto
				overflow-y: scroll
				.Contents
					padding: 7rem 0
				.Foot
					position: absolute
					bottom: 0

	


		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  topPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#topPage


			section
				.sec
					top: 6.5rem
					.num
						font-size: 12rem
						width: 9.25rem
						.change
							width: 4.5rem
					.name
						margin: 1rem 0 0



			section#KV
				.Section .Contents .Logo
					width: 58.94%


			section#ConceptMovie
				.Section .Contents
					aspect-ratio: 1 / 1.75
					.sec
						top: -16rem
					.Holder
						.Header
							width: 27rem
							.row
								@include flexC
								flex-wrap: wrap
						p
							margin: 2rem auto 0


			section#Instagram
				.Section .Contents .Holder .Block
					width: calc((100% - 1rem * 1) / 2)
					&:nth-child(n + 7)
						display: none


			section#News
				.Section .Contents .Holder .Block
					margin: 0 0 2.5rem
					span
						&.date
							font-size: 1.6rem
							width: 10rem
							margin: -.25rem 0 0
						&.ttl
							font-size: 1.8rem
							width: calc(100% - 10rem - 1rem)
							margin: -0.5rem 0 0 1rem


			section#ShopAccess
				.Section
					padding: 22.5rem 0 10rem
					.Contents
						.Holder
							width: 100%
							.textArea
								.online .arrow
									font-size: 1.85rem
									padding: 0 0 0 3.65rem
								.details
									.Logo
										position: unset
										width: 33%
									.inBlock
										width: 60%
										.name
											min-height: auto
											padding: 0 0 2rem 0
											span
												&:nth-child(1)
													font-size: 1.5rem
												&:nth-child(2)
													font-size: 2.65rem
										.address
											font-size: 1.15rem
											letter-spacing: .1em
										.tel
											font-size: 1.6rem
										.open 
											font-size: 1.6rem
										.gm
											font-size: 1.25rem
											margin: 3.25rem 0 0
							.gmArea .gm
								aspect-ratio: 4 / 2
							&.Harebare
								.textArea .details .Logo
									aspect-ratio: 1 / 1.35
						.shopList
							aspect-ratio: 880 / 191
							margin: 0 auto
	


		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  LowPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&.LowPage
			section#Link
				.Section
					margin: 10rem auto 0
					.Contents
						gap: 2rem
						.Block
							padding: 2.5rem 2.9rem 3rem
							h3
								font-size: 4.5rem
							.arrow
								width: 10rem
								height: 3rem
								bottom: auto
								top: 3.5rem
								right: 3rem

			section#Link
				.Section
					.Contents
						.backBtn
							margin: 3rem auto 0

			#Footer
				// margin: 5rem 0 0

			#LinkHolder
				margin: 3rem auto
				gap: 2rem

			.snsHolder
				ul
					margin: 2rem auto 0
					li
						&.ig,
						&.x,
						&.fb,
						&.note
							height: 3.5rem


		@mixin textsizeJP	
			font-size: 1.8rem
			line-height: 3.15rem



		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  LowTemplate
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&.LowTemplate
			section#KV
				.Section
					.Header
						h1.pageTitle
							font-size: 10rem
						p
							margin: -2.5rem 0 0
						.icon
							width: auto !important
							height: 10rem
							top: 1.5rem
	


		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  aboutusPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#aboutusPage

			#popup
				top: 17rem
				padding: 5rem 3rem
				max-height: calc(100vh - 28rem)
				.Section
					.Header
						h3
							line-height: 4rem
					.Contents
						max-height: calc(100vh - 60rem)
						overflow-y: scroll
						@include flexC
						flex-wrap: wrap
						.textArea
							width: 100%
							p
								@include textsizeJP
								&.JP
									margin: 0 0 3rem
						img
							width: 100%
							margin: 3rem auto 0

			section#KV
				.Section
					.Header
						margin: 20.15rem auto 3.85rem
						h1
							font-size: 7.5rem

			section#Concept
				.Section
					margin: 7rem auto 10rem
					.Contents
						.Block
							p
								width: 100%
								&.JP
									@include textsizeJP
								&.EN
									font-size: 2rem
									line-height: 3rem
									margin: 3rem 0 0
						&__00001
							.Header
								.row
									font-size: 6rem
						&__00002
							.Header
								margin: 0 0 7rem
								img
									top: 53.5rem
								.row
									font-size: 4.3rem
									line-height: 5.4rem
								.EN
									margin: 3rem 0 0

			section#Vision
				.Section
					.Header
						padding: 0 0 1.95rem
						margin: 0 0 5.5rem
						img
							bottom: auto
							top: 0
							width: 14rem
					.Contents
						.Block
							p
								width: 100%
								&.JP
									@include textsizeJP
								&.EN
									font-size: 2rem
									line-height: 3rem
									margin: 3rem 0 0
					.popupContents
						margin: 7rem 0
						h3
							width: 80%
							margin: 0 auto 0 0
						.Block
							width: 100%
							ul li
								width: 6rem

			section#Company
				.Section
					margin: 10rem auto 0
					padding: 0 0 10rem
					.Header
						margin: 0 auto 3rem 0
						h2
							writing-mode: unset
							font-size: 8rem
							letter-spacing: 0
							margin: 0 auto
					.Contents
						width: 100%
						margin: 0 auto
						table tr td
							margin: 1.6rem 0 3.05rem
							a.gm
								position: unset
								margin: 1.5rem 0 0

			section#Contact
				.Section
					margin: 10rem auto 0
					padding: 0
					.Header
						margin: 0 auto 3rem
						h2
							writing-mode: unset
							font-size: 8rem
							letter-spacing: 0
							margin: 0 auto
					.Contents
						margin: 3.5rem auto 0
						.Block
							margin: 0 0 3rem
							.Inner
								margin: 1.4rem 0 0
							&__00001
								.Inner
									flex-wrap: wrap
									.note
										width: 100%
										margin: 1rem 0 0 0
										display: flex
										align-items: flex-end
										p
											&:nth-child(1)
											margin: 0 1rem .25rem 0
	


		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  breweryPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#breweryPage

			section#About
				.Section
					.Contents
						.Header
							padding: 0
							.JP
								font-size: 4rem
								line-height: 5.5rem
							.EN
								@include textsizeJP
						.Holder
							padding: 0
							p
								&.JP
									@include textsizeJP
								&.EN
									margin: 1.5rem 0 0
									font-size: 1.5rem
									line-height: 2.6rem
						&__00001
							.imgHolder
								img
									top: -10rem
									right: -2rem
							.Header
								.JP
									font-size: 3rem
									line-height: 4rem
									.row
										&:nth-child(3)
											font-size: 3.2rem
								h3
									font-size: 6rem
									margin: 2.25rem 0 0
						&__00003
							.Holder
								margin: 3rem 0 0
							.imgHolder
								img
									width: calc(28% - 2.5rem)
						&__00004
							.imgHolder
								img
									width: calc(52.07% - 2.5rem) !important
									&:nth-child(2)
										bottom: auto
										left: auto
										right: 2.5rem
										top: 22rem
							.Holder
								width: 100%
								margin: 12.25rem 0 -0.7rem auto
						&__00005,
						&__00006,
						&__00007
							display: flex
							flex-wrap: wrap
							.Header
								width: 100%
								order: 1
							.Holder
								margin: 3rem 0 0
								order: 3
							.imgHolder
								order: 2
								margin: 3rem auto 0
								width: 100%
								img
									width: 100%
									position: unset

			section#Beer
				.Section
					.Header
						h2
							flex-wrap: wrap
							.Split
								&:nth-child(14)
									margin: 0 calc((100% - 6.5rem) / 2)
					.Contents
						margin: 3rem auto 0
						background-color: $white
						padding: 3rem
						.point
							display: none
						.Holder
							padding: 0
							h3
								margin: 0 0 3rem
							.textArea
								p.JP
									@include textsizeJP
						.imgHolder
							margin: 3rem auto 0
							img
								position: unset
								width: 100%
						.contactBtn
							width: 14rem
							bottom: auto
							right: -2rem
							top: 2rem

			section#Brand
				margin: 10rem 0 0
				.Section
					.Header
						.Logo
							width: 25%
							margin: 0 auto 3rem
						.textArea
							width: 100%
							h2
								text-align: center
							.LinkHolder
								a
									aspect-ratio: 2 / 1
							.snsHolder
								.Block
									width: 100%
									margin: 0 0 2rem
									padding: 0 1rem 2rem
									p
										@include textsizeJP
									ul
										margin: 0 0 0 auto
					.Contents
						margin: 5rem auto 0
						p
							@include textsizeJP

			section#Brewer
				margin: 10rem 0 0
				.Section
					padding: 5rem 0
					.point
						display: none
					.note
						right: 3rem
						// top: 3rem
					.Header
						.row
							font-size: 7.5rem
						.Name
							margin: -.3rem 0 2.3rem
							.JP
								margin: 0 0 1rem
					.Contents
						margin: 3rem auto 5rem 9.615%
						p
							@include textsizeJP
	


		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  ourbeerPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#ourbeerPage

			section#About
				.Section
					.Contents
						.Holder
							p
								&.JP
									@include textsizeJP
								&.EN
									margin: 3rem 0 0

			section.ourbeerSec
				margin: 10rem 0 0
				.Section
					.Header
						margin: 0 0 5rem
						h2
							font-size: 6.3rem
							margin: 1.35rem 0 0
				&#Partners
					.Section
						.Contents
							.Block
								p
									width: 100%
									&.JP
										@include textsizeJP
									&.EN
										margin: 3rem auto 0
						.imgHolder
							gap: 2.5rem 1rem
							.Block
								width: calc((100% - 1rem) / 2)
								p
									margin: 1rem 0 0
				&#Projects
					.Section
						.Contents
							.Block
								padding: 3rem
								.point
									display: none
								img
									top: 3rem
									right: 3rem
									width: 33%
								.ViewBtn
									margin: 3rem auto 0
									width: calc(5.7rem * 1.5)
									height: calc(4.8rem * 1.5)
									font-size: 1.4rem
									.icon
										width: 4.55rem
								.Header
									p
										@include textsizeJP
										&.note
											font-size: 1.4rem
											line-height: 2.4rem
											padding: 0 0 0 1.5rem
											margin: 2rem 0 0
								&__00001
									.Header
										.Logo
											margin: 0 0 2.5rem
									.detailsContents
										.imgHolder
											margin: 4rem auto
										.Inner
											.textArea
												p
													@include textsizeJP
													margin: 0 0 4rem
												a
													@include textsizeJP
													background-position: bottom center
											.imgArea
												margin: 4rem auto 0
											.btnArea
												a
													@include textsizeJP
													line-height: 2.15rem
													padding: 1rem 0 1.25rem
												p.note
													font-size: 1.4rem
								&__00002
									.Header
										.Logo
											margin: 4rem 0 7rem
									.detailsContents
										.Inner
											flex-wrap: wrap
											position: relative
											margin: 2.5rem 0
											padding: 0 0 5rem
											.num
												width: 10rem
												top: 4rem
												left: 1rem
											.details
												width: 100%
												order: 2
												.Logo
													margin: 0 auto
												.Name
													margin: 1.5rem auto 0
													text-align: center
												p
													@include textsizeJP
												a
													@include textsizeJP
											img
												order: 1
												width: 100%
												margin: 3rem auto
										.projectInner
											padding: 2rem
											.textArea
												.Header
													.Logo
														width: 15rem
														height: 15rem
														margin: 0 auto
													.title
														margin: 2rem 0 0
														text-align: center
													p
														@include textsizeJP
											.makerList .makerSlider .swiper-wrapper .swiper-slide
												width: 50vw
	


		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  restaurantPage
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		&#restaurantPage

			@mixin shopDetails
				.shopDetails
					.Logo 			
						width: 40%
						aspect-ratio: 1 / 1
						margin: 0 auto 3rem
					.Contents
						width: 100%
						.Name
							text-align: center
							margin: 0 0 3rem
							.sub
								span
									display: inline-block
						.details
							.Inner
								flex-wrap: wrap
								text-align: center
								margin: 0 auto 2rem
								.th
									width: 100%
									font-size: 3rem
								.td
									font-size: 3.9rem
									line-height: 2rem
									width: 100%
									margin: 1.25rem auto 0
									span
										display: inline-block
										width: 100%
										margin: 1.5rem auto 0
							.Floor
								width: auto
								margin: 1rem auto 3rem
								span
									&:nth-child(even)
										padding: 1rem 0
									&:nth-child(1)
										padding: 1rem 0
										width: 8rem
									&:nth-child(3)
										margin: 0 0 0 3rem
							.btn
								width: calc((100% - 2rem) / 2)
								margin: 0
								&.targetBlank
									margin: 0 0 0 2rem
							.note
								font-size: 1.4rem
								text-align: center

					.reserve
						bottom: auto
						top: 0
						width: 30%
						left: -2rem
					.LinkHolder
						width: 100%
						aspect-ratio: 7 / 1
				

			section#KV
				.Section
					.icon
						display: none
					.Header
						h1.pageTitle
							// width: 24rem
							line-height: 8rem
							margin: 0 0 2.5rem -0.5rem
					.Contents
						padding: 0

			section#About
				.Section
					.Contents
						display: flex
						flex-wrap: wrap
						.Header
							padding: 0
						.Holder
							padding: 2.5rem 0 0
							p
								&.JP
									@include textsizeJP
								&.EN
									margin: 2rem 0 0
						.imgHolder
							img
								width: 100%
								position: unset
						&__00001
							.Logo
								width: 17rem
								height: 17rem
								right: -1.5rem
								top: -15rem
							.icon
								width: 8.15rem
								right: 2.5rem
								bottom: auto
								top: 8.5rem
						&__00002
							.Header
								order: 1
							.Holder
								order: 3
							.imgHolder
								margin: 3rem auto 0
								order: 2
						&__00003
							.Header
								order: 2
								margin: 4rem auto 1rem
							.Holder
								order: 3
							.imgHolder
								margin: 3rem auto 0
								order: 1
						&__00004
							.Header
								order: 1
								margin: 0
								width: 100%
							.Holder
								order: 3
								width: 100%
							.imgHolder
								margin: 3rem auto 0
								order: 2
						&__00005
							.Header
								order: 2
								margin: 0
								width: 100%
							.icon
								order: 1
								padding: 0
								width: 16rem
								position: absolute
								top: 8rem
								right: 2.5rem
							.Holder
								order: 4
								width: 100%
							.imgHolder
								margin: 3rem auto 0
								order: 3

			section#Shop
				@include shopDetails

			section#Goods
				.Section
					margin: 10rem auto 0
					.online
						aspect-ratio: 1 / 1
						top: 0
					.Header
						margin: 0 0 3rem
						.row
							font-size: 3.9rem
					.subHeader
						padding: 0 0 0 2.5rem
						.JP
							font-size: 4.6rem
							line-height: 6rem
					.Contents
						h3
							margin: 3rem 0
							font-size: 2.4rem
							line-height: 4.3rem
						.Holder
							p
								&.JP
									@include textsizeJP
								&.EN
									margin: 2rem 0 0
						.imgHolder
							flex-wrap: wrap
							margin: 5rem auto 0
							img
								width: calc((100% - .5rem) / 2)
								&:nth-child(1)
									width: 100%
									order: 3
								&:nth-child(2)
									order: 1
								&:nth-child(3)
									order: 2

			section#Details
				margin: 10rem 0 0
				.Section
					padding: 5rem 0 10rem
					.Header
						h2
							flex-wrap: wrap
							.Split
								&:nth-child(12)
									margin: 0 calc((100% - 6.5rem) / 2)
					.detailsContents
						width: 95%
						margin: 3rem auto 0
						background-color: $white
						padding: 5rem 1rem
						@include shopDetails
						.gm
							aspect-ratio: 1 / 1
							iframe
								aspect-ratio: 1 / 2
							p
								width: 100%
								padding: 1.25rem 1rem 1.5rem




		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		//  _Footer
		//-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
		footer#Footer
			// padding: 0 0 calc(8rem + 1px)
			@include con-menu
