.Section

  .Contents

    .ConpanyMenu 
      a.Logo(href=`${path}?top`)
      .LinkHolder 
        ul 
          li.ig
            a.targetBlank(href='')
          li.x
            a.targetBlank(href='')
          li.fb
            a.targetBlank(href='')
          li.note
            a.targetBlank(href='')
          li.online
            a.targetBlank(href='') online shop
      .cw.pc ©2024. Brewing Peace, Blooming Smiles.


    .MainMenu
      h2.Header.spanAnim
        span.row Brewing Peace, Blooming Smiles.
      ul
        li
          a(href='') OUR BEER
        li
          a(href='') OUR CONCEPT
        li
          a(href='') BREWERY
        li.clickNone
          a(href='') ORIGINAL GOODS
        li
          a(href='') INSTAGRAM
        li
          a(href='') NEWS
        li
          a(href='') VISIT US
        li
          a(href='') CONTACT
        li.BtoB
          a(href='')
            span B to B 
            span 業務店様はこちら
            span.arrow 


    .cw.sp ©2024. Brewing Peace, Blooming Smiles.


  .Foot 
    p <span>株式会社リレイ</span>　 広島県 広島市 中区 新天地 2-12
