.Logo
.Contents
  .Name
    h3 Craft beerと炭火『はればれ』
    .sub & HIROSHIMA NEIGHBORLY BREWING<span>（クラフトビール醸造所）</span>
  .details 
    .Inner 
      .th OPEN.
      .td 12:00 - 22:00 
    .Inner 
      .th TEL.
      .td 
        a(href="tel:082-236-9313") 082-236-9313
        span （ 電話予約OK! ）
    .Floor 
      span 1.5F
      span 約40席
      span 1F
      span 約30席
    .btn
      span テイクアウトOK!
    a.btn.targetBlank(href="")
      span 食べログ
  p.note ※各種宴会・パーティもお待ちしております
a.reserve.targetBlank(href="")
.LinkHolder 
  p お店の情報など随時配信中!
  ul 
    li.ig: a.targetBlank(href='https://www.instagram.com/hnb_beer/')
    li.x: a.targetBlank(href='https://twitter.com/hnb_beer')
    li.fb: a.targetBlank(href='https://www.facebook.com/hiroshimaNB/')
    li.note: a.targetBlank(href='https://note.com/hiroshima_hnb/')

