header#Header.KV


	#mainHeader
		.Contents.flexC 
			.copy Because beer is peaceful, delicious
			a.Logo(href=`${path}?top`)
			.sec 
				.num.flex
					span 0
					.change
						span 1
						span 2
						span 3
						span 4
						span 5
				.name
					.change
						span MESSAGE
						span main cotents
						span instagram
						span news & now
						span visit us


menu#Menu.deviceHeight 

	.menuClose
		.icon
		span back

	include ../partials/_con-menu




nav#sideMenu.KV
	.Contents 
		.LeftBlock 
			.LinkHolder 
				a.online.targetBlank(href='')
					.icon 
					span online<br>shop 
				ul 
					li.ig
						a.targetBlank(href='')
					li.x
						a.targetBlank(href='')
					li.fb
						a.targetBlank(href='')
					li.note
						a.targetBlank(href='')
		.RightBlock 
			.menuOpen 
				.icon
				span menu
		ul.BottomBlock.sp
			li.OurBeer
				span our beer
			li.OurConcept
				span our concept
			li.Instagram
				span instagram
			li.VisitUs
				span visit us
