header#Header.KV


	#mainHeader
		.Contents.flexC 
			.copy Because beer is peaceful, delicious
			a.Logo(href=`${path}?top`)
			.sec 
				.num.flex
					span 0
					.change
						span 1
						span 2
						span 3
						span 4
						span 5
				.name
					.change
						span MESSAGE
						span main cotents
						span instagram
						span news & now
						span shop & access


menu#Menu.deviceHeight 

	.menuClose
		.icon
			span 
			span
		span back

	include ../partials/_con-menu




nav#sideMenu.KV
	.Contents 
		.LeftBlock 
			.LinkHolder 
				a.online.targetBlank(href='https://hiroshima.beer/')
					.icon 
					span online<br>shop 
				ul 
					li.ig
						a.targetBlank(href='https://www.instagram.com/hnb_beer/')
					li.x
						a.targetBlank(href='https://twitter.com/hnb_beer')
					li.fb
						a.targetBlank(href='https://www.facebook.com/hiroshimaNB/')
					li.note
						a.targetBlank(href='https://note.com/hiroshima_hnb/')
		.RightBlock 
			.menuOpen 
				.icon
					span 
					span 
					span
				span menu
		ul.BottomBlock.sp
			li.lwp.OurBeer
				span our beer
			li.lwp.OurConcept
				span our concept
			li.lwp.Instagram
				span instagram
			li.lwp.ShopAccess
				span shop & access
